div {
    color: black !important;
}
.my-3 {
    margin: 30px;
}

.form-group {
    margin: 10px;
}

* {
    border: 0;
}
.comment {
    border-top: dotted 1px #ddd;
    font-size: 1em;
}
td span{
    color: black !important;
}